
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Admin/Home/Index">
            <div class="sidebar-brand-icon rotate-n-15">
            </div>
            <div class="sidebar-brand-text mx-7">MyHands <sup>admin</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="~/Admin/Home/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQLSP" aria-expanded="true" aria-controls="collapseQLSP">
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý sản phẩm</span>
            </a>
            <div id="collapseQLSP" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản lý</h6>
                    <a class="collapse-item" href="~/Admin/DanhMucSanPham/Index">Danh mục</a>
                    <a class="collapse-item" href="~/Admin/SanPham/Index">Sản phẩm</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQLBV" aria-expanded="true" aria-controls="collapseQLBV">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Quản lý bài viết</span>
            </a>
            <div id="collapseQLBV" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản lý</h6>
                    <a class="collapse-item" href="~/Admin/ChuDeBaiViet/Index">Chủ đề</a>
                    <a class="collapse-item" href="~/Admin/BaiViet/Index">Bài viết</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQLnhap" aria-expanded="true" aria-controls="collapseQLnhap">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Quản lý nhập hàng</span>
            </a>
            <div id="collapseQLnhap" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản lý</h6>
                    <a class="collapse-item" href="~/Admin/PhieuYeuCauNhap/Index">Phiếu yêu cầu nhập hàng</a>
                    <a class="collapse-item" href="~/Admin/DonNhapHang/Index">Đơn nhập hàng</a>
                    <a class="collapse-item" href="~/Admin/NhaCungCap/Index">Nhà cung cấp</a>
                </div>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="~/Admin/HoaDon/Index">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Hóa đơn</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThongKe" aria-expanded="true" aria-controls="collapseThongKe">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Thống kê</span>
            </a>
            <div id="collapseThongKe" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản lý</h6>
                    <a class="collapse-item" href="~/Admin/ThongKe/Index">Sản phẩm còn/hết</a>
                    <a class="collapse-item" href="~/Admin/ThongKe/DoanhThu">Doanh thu</a>
                    <a class="collapse-item" href="~/Admin/HoaDon/Index">Hóa đơn</a>
                    <a class="collapse-item" href="~/Admin/ThongKe/CanceledOrder">Đơn đã bị hủy</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Tài khoản
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item ">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
                <i class="fas fa-fw fa-folder"></i>
                <span>Quản lý người dùng</span>
            </a>
            <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tài khoản</h6>
                    <a class="collapse-item" href="~/Admin/User/Create">Thêm mới tài khoản</a>
                    <a class="collapse-item" href="~/Admin/User/Index">Danh sách tài khoản</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>