@model List<MyHandsDoAnTotNghiep.Models.GioHangItems>
<a href="/GioHangItem/Index">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <span id="checkout_items" class="checkout_items">@Model.Count</span>
</a>
@*<ul class="account_selection">
    <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
    <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
</ul>*@
