@model List<Model.EF.tbl_Menu>
    <div class="menu">
        <ul class="navbar_menu">
            @foreach (var item in Model)
            {
                <li><a href="@item.sLink" target="@item.sTarget">@item.sText</a></li>
            }
            @*<li>

                <span><i class="fas fa-bell"></i><span class="count ">&nbsp;</span></span>
                <div class="noti-content">
                    <div class="noti-top-arrow"></div>
                    <ul id="notiContent"></ul>
                </div>
            </li>*@

        </ul>
        @*<a href="#">
            <span><i class="fas fa-bell"></i><span class="count ">&nbsp;</span></span>

            <i class="fa fa-angle-down"></i>
        </a>
        <div class="noti-content">
            <div class="noti-top-arrow"></div>
            <ul id="notiContent"></ul>
        </div>*@
    </div>
